.cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.card-container {
  width: 250px;
  flex: 0 0 30%;
}

.card-white {
  background-color: white;
  padding: 10px;
  box-shadow: 1px 1px 2px #b3b3b3;
  border-radius: 4px;
  margin-bottom: 10px;
}

.card-white .btn {
  opacity: 0;
}

.card-white:hover .btn {
  opacity: 1;
  transition: 1s;
}

.card-white-img {
  background-size: cover;
  background-position: center;
  height: 200px;
}
